{"parent": "./Projects/", "project": "perlmonks", "project_dir": "./Projects/perlmonks/", "base_url": "https://www.perlmonks.org/", "queue": "./Projects/perlmonks/queue.txt", "crawled": "./Projects/perlmonks/crawled.txt", "threads": 8}